.App {
  text-align: center;
  color: #ffffff;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #000000;
  /* color: rgb(226, 48, 78); */
  color: rgb(106, 192, 69);
  overflow: hidden;
  z-index: 6;
}

.navList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  width: 20%;
  list-style: none;
}

.navList li {
  text-decoration: none;
  margin-left: 10px;
}

.navLink {
  text-decoration: none;
  color: rgb(106, 192, 69);
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
