.App {
  text-align: center;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #212121;
  color: rgb(226, 48, 78);
}

.navList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  width: 20%;
  list-style: none;
}

.navList li {
  text-decoration: none;
  margin-left: 10px;
}

.navLink {
  text-decoration: none;
  color: rgb(226, 48, 78);
}
